@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Offside&display=swap');
@import url("https://use.typekit.net/bth2ctt.css");

body {
  margin: 0;
  background-color: #F1EBEB;
  color: #593C1A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font1: "source-serif-pro", serif;
  --font2: "Offside", sans-serif;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  min-height: 100vh;
  width: 100%;
}

p {
  font-family: var(--font2);
  font-size: 20px;
}

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
}

#content {
  position: relative;
  width: 100%;
  top: 20vw;
}

#fungi-title {
  font-family: var(--font1);
  font-size: 2.5vw;
  font-weight: 500;
  font-style: bold;
  text-align: center;
}

#forager-container {
  position: relative;
  left: 38vw;
  display: flex;
  align-items: baseline;
  margin-top: -6vw;
}

#forager-f {
  font-family: var(--font1);
  font-size: 11vw;
  font-weight: 500;
  font-style: italic;
  margin-right: -1vw;
}

#forager-orager {
  font-family: var(--font1);
  font-size: 7.5vw;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;
}

#bg_forest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#bg_forest svg {
  width: 100%;
  height: 100%;
  object-position: center;
}